/* Primary: #ffffff (RGB: 255, 255, 255)
Secondary: #161718 (RGB: 22, 23, 24)
Primary Button: #9c9ba1 (RGB: 156, 155, 161)
Secondary Button: #dddddd (RGB: 221, 221, 221)
Accent: #ffffff (RGB: 255, 255, 255) */

:root {
   --color1: #161718;
   --color2: #eeeeee;
}

body,
html {
   background-color: var(--color2);
   color: var(--color1);
   font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
   margin: 0;
   padding: 0;
}

/* header----------------------------- */
header {
   background-color: var(--color1);
   display: flex;
   width: 100%;
   height: 50px;
   position: fixed;
   top: 0;
   left: 0;
   align-items: center;
   justify-content: center;
   z-index: 9999;
   margin-bottom: 0.1px;
}

header a {
   text-decoration: none;
   font-size: 22px;
   color: #ffffff;
   margin-left: 15px;
   margin-right: 15px;
   transition: color 500ms;
}

/* animations */
header a:hover {
   color: #9c9ba1;
}

/* footer------------------------------------ */
footer {
   display: flex;
   justify-content: space-between;
   background-color: var(--color1);
   color: #dddddd;
   height: 100px;
   bottom: 0;
   align-items: center;
}

.socialMedia {
   height: 80px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: right;
   margin-right: 30px;
}

.socialMedia img {
   transition: transform 0.3s ease;
   width: 80px;
}

footer p {
   margin-left: 30px;
   width: 30%;
   font-size: 30px;
}

/* generales--------------------------------------- */
.subtitle {
   width: 100%;
   margin: 50px;
   margin-right: 10px;
   margin-left: 10px;
   text-align: center;
   font-size: 35px;
}

.spacer {
   aspect-ratio: 900/100;
   width: 100%;
   background-repeat: no-repeat;
   background-position: center;
   background-size: cover;
   z-index: 990;
}

.wave1 {
   background-image: url("../img/wave1.svg");
}

.wave2 {
   background-image: url("../img/wave2.svg");
}

.hoverEffect {
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
   transition: box-shadow 300ms;
}

@media (hover: hover) {
   .hoverEffect:hover {
      box-shadow: 0px 0px 40px rgba(0, 0, 0, 1);
   }

   .socialMedia img:hover {
      transform: translateY(-3px);
   }
}

.hidden {
   opacity: 0;
   transform: translateX(-10%);
}
.show {
   transition: opacity 1.2s 0.1s, transform 1s 0.1s;
   opacity: 1;
   transform: translateX(0%);
}

/* ----------------------------------------------------- */
@media (max-width: 600px) {
   .subtitle {
      font-size: 30px;
   }

   header a {
      font-size: 20px;
      margin: 10px;
   }

   footer {
      justify-content: center;
      height: auto;
      flex-direction: column;
   }

   footer p {
      width: 90%;
      height: auto;
      font-size: 25px;
      text-align: center;
      margin: 0;
      margin-bottom: 5px;
   }

   .socialMedia {
      width: 50%;
      margin: 0;
      margin-bottom: 5px;
   }
}

@media (max-width: 400px) {
   header a {
      font-size: 16px;
      margin: 8px;
   }
}
