:root {
   --color1: #161718;
   --color2: #eeeeee;
}

main {
   margin-top: 50px;
}

.infoSection {
   background-color: var(--color1);
   color: var(--color2);
   margin: 0;
   min-height: 50vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.infoSection p {
   font-size: 20px;
   margin: 20px;
   text-align: center;
}

.serviciosSection {
   min-height: 50vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.serviciosContainer {
   width: 90%;
   max-width: 1200px;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
   align-items: stretch;
}

.servicio {
   width: 40%;
   min-width: 240px;
   background-color: var(--color1);
   color: var(--color2);
   display: flex;
   justify-content: start;
   flex-direction: column;
   padding: 10px;
   text-align: center;
   border-radius: 10px;
   margin-top: 15px;
   margin-bottom: 15px;
   position: relative;
}

.servicio:nth-child(2){
   transition-delay: 200ms;
}
.servicio:nth-child(3){
   transition-delay: 300ms;
}
.servicio:nth-child(4){
   transition-delay: 200ms;
}
.servicio:nth-child(5){
   transition-delay: 300ms;
}

.servicio img {
   width: 100%;
   border-radius: 10px;
   margin-top: 10px;
   align-self: flex-start;
}

@media (max-width: 600px) {
   .servicio {
      width: 90%;
   }

   .servicio:nth-child(2){
      transition-delay: 100ms;
   }
   .servicio:nth-child(3){
      transition-delay: 100ms;
   }
   .servicio:nth-child(4){
      transition-delay: 100ms;
   }
   .servicio:nth-child(5){
      transition-delay: 100ms;
   }
}
