:root{
   --color1: #161718;
   --color2: #eeeeee;
}

main{
   margin-top: 50px;
}

.mapSection{
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

iframe, .text{
   width: 70%;
   max-width: 800px;
   min-width: 270px;
}

iframe{
   border-radius: 10px;
   margin-bottom: 20px;
   transition: box-shadow .3s ease ;
}


.text{
   background-color: var(--color1);
   border-radius: 10px;
   margin-bottom: 50px;
   margin-top: 30px;
   transition: box-shadow .3s;
}

.text p{
   font-size: 20px;
   text-align: center;
   color: var(--color2);
}

@media (max-width: 600px) { 
   iframe{
      width: 90%;
   }

   .text{
      width: 90%;
   }
}

